<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <div class="container">
    <h1 class="display-3"><b> Comida Rapida </b></h1>
    <p class="lead">Pide tu comida a domicilio!</p>
  </div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2"><b>Buscar</b></button>
    </div>
  </div>

</div>
